<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="ico" type="image/x-icon" href="static/favicon.ico"> -->
  <link rel="shortcut icon" type="image/x-icon" href="images/ogImg.png">   
    <title>UUPON 永續美妝保養品消費調查</title>
    <!-- 需修改 -->
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" CONTENT="uupon,APP,悠遊卡,點數,紅利點數,集點,折抵電信費,悠遊卡集點,會員點數,點數交換,好康">
    <meta name="description" CONTENT="2021市場調查研究：美妝保養品消費行為、環保永續美妝保養品牌評價、永續美妝保養品願意支付金額">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="company" content="UUPON.inc 點鑽整合行銷股份有限公司">
    <meta itemprop="image" content="images/ogImg.png"/>
    <meta name="copyright" content="版權所有 Copyright © 2020 UUPON Inc. All Rights Reserved.">
    <meta property="og:title" content="UUPON 永續美妝保養品消費調查">
    <meta property="og:description" content="2021市場調查研究：美妝保養品消費行為、環保永續美妝保養品牌評價、永續美妝保養品願意支付金額">
    <meta property="og:image" content="images/ogImg.png"/>
    <!-- END -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="styles/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha512-M+qMI1PHRcYcOpJzeJlaWbVVx2JJyPIwZas8or7dc97LZOokjvbpfRxymhVtlJLyjiF3wGyr0FJOA4DLONLVLw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58071296-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58071296-18');
    </script>
  </head>
    <body>
    <div id="app">
      <div class="data pt-3 pb-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <a href="index.html">
                <img src="images/logo.png" width="235px" class="d-none d-md-block" alt="">
                <img src="images/logo.png" width="135px" class="d-md-none" alt="">
              </a>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-md-8">
              <p class="font-weight-bold h4 text-orange">永續美妝保養品消費調查</p>
              <div class="text-gray mt-4">
                <img src="images/picture_3_makep.jpeg" class="float-left mr-2" width="180px" alt="">
                <p class="h6font-weight-bold text-first">
                  新冠疫情改變了人們的生活方式，也讓人們對環保議題的關注隨之提升，相對的也讓重視永續、環保的永續美妝保養品日益受到重視。本研究針對一般消費者對於美妝保養品的消費行為、資訊蒐集管道、選擇因素等進行調查外，更從消費者永續態度調查、對市售永續美妝保養品牌評價、消費通路、未來購買意願等方向進行深入分析。<br>研究發現，近七成的台灣消費者認同永續美妝保養品的理念，甚至願意較一般美妝保養品多付三成的價格購買符合永續標準的美妝保養品，沒有購買永續美妝保養品的主要原因是沒有足夠的資訊、或是定價高過其接受度。也因此在普遍偏好購買進口商品的美妝保養市場中，讓本土永續美妝保養品有了立足成長的空間。<br>本研究提供相關的調查與數據，相信能為美妝保養品的品牌商、通路商提供不同的思考面向，提供商業規劃、策略提案的參考。<br>納入調查分析的次品類有：<br>永續皮膚護理產品、永續頭髮護理產品、永續彩妝產品、永續防曬產品、永續香氛產品、永續指甲護理產品
                </p>
                <br>
                <!-- <p v-if="data[dataID].include.length>=1" class="h4 font-weight-bold text-first">what's included??</p> -->
                <!-- <ul class="ml-4">
                  <li v-for="(item,index) in data[dataID].include" :key="index" >{{item}}</li>
                </ul> -->
              </div>
            </div>
            <div class="d-none d-md-block col-md-4 mt-md-0 mt-4">
              <div class="border border-gray">
                <p class="p-3 h4 border-bottom border-gray text-first font-weight-bold">報告資訊</p>
                <p class="p-3 h6 border-bottom border-gray text-first">永續美妝保養品消費調查</p>
                <div class="p-3 border-bottom border-gray text-first">
                  <p class="h6 mb-2">頁數: 66</p>
                  <p class="h6 mb-2">檔案類型: PDF</p>
                </div>
                <!-- <div class="text-first p-3 d-flex align-items-end justify-content-between border-bottom border-gray">
                  <p>Price</p>
                  <p class="h4 mb-0">{{data[dataID].price}}</p>
                </div> -->
                <div class="p-3 text-center bg-light-orange">
                  <button class="order-btn py-2 px-3" onclick="gotoSurvey()">聯絡我們</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="d-flex border-bottom border-gray">
                <div class="px-3 py-2 cursor-pointer tab tabItem" onclick="tabVal('maincatalogue', event)">章節目錄</div>
                <div class="px-3 py-2 cursor-pointer tab" onclick="tabVal('picturecatalogue', event)" >圖目錄</div>
                <div class="px-3 py-2 cursor-pointer tab" onclick="tabVal('tablecatalogue', event)">表目錄</div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div style="display: block;" id="maincatalogueContent">
              </div>
              <div style="display: none;" id="picturecatalogueContent">
              </div>
              <div style="display: none;" id="tablecatalogueContent">
              </div>
            </div>
          </div>
          <div class="row mt-3 d-md-none">
            <div class="col-md-4 mt-md-0 mt-4">
              <div class="border border-gray">
                <p class="p-3 h4 border-bottom border-gray text-first font-weight-bold">報告資訊</p>
                <p class="p-3 h6 border-bottom border-gray text-first">永續美妝保養品消費調查</p>
                <div class="p-3 border-bottom border-gray text-first">
                  <p class="h6 mb-2">頁數: 66</p>
                  <p class="h6 mb-2">檔案類型: PDF</p>
                </div>
                <!-- <div class="text-first p-3 d-flex align-items-end justify-content-between border-bottom border-gray">
                  <p>Price</p>
                  <p class="h4 mb-0">{{data[dataID].price}}</p>
                </div> -->
                <div class="p-3 text-center bg-light-orange">
                  <button class="order-btn py-2 px-3" onclick="gotoSurvey()">聯絡我們</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 d-md-block d-none">
            <div class="col text-center">
              <button class="order-btn py-2 px-3" onclick="gotoSurvey()">聯絡我們</button>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <p class="h2 font-weight-bold">更多報告</p>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-md-6 col-lg-4 mb-3">
              <img src="images/picture_5_podcast.jpeg" width="100%" alt="" class="cursor-pointer" onclick="gotoIntroduce(1)">
              <p class="h4 text-orange cursor-pointer" onclick="gotoIntroduce(1)">串流影音及Podcast 使用與消費行為調查</p>
            </div>
          </div>
          <!-- <div class="row mt-1">
            <div class="col-12 col-md-6 col-lg-4 mb-3" v-for="(i,index) in moreArr" :key="index">
              <img :src="data[i].img" width="100%" alt="" class="cursor-pointer" @click="gotoIntroduce(i, data[i].title)">
              <p class="h4 text-orange cursor-pointer" @click="gotoIntroduce(i, data[i].title)">{{data[i].title}}</p>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" src="data/AllData.js">
  </script>
  <script type="text/javascript">
    console.log(list)
    function gotoIntroduce (index) {
      // eslint-disable-next-line
      let title = ''
      if (index == 0) {
        title = '永續美妝保養品消費調查'
      } else if (index == 1) {
        title = '串流影音及Podcast 使用與消費行為調查'
      }
      // gtag('event', 'Page Click', { 
      //     'event_category': 'Click',
      //     'event_label': `點擊${title}`,
      //     'value': 1
      //   })
      window.location.href = `introduce_${index}.html`
    }
    function gotoSurvey () {
      // eslint-disable-next-line
      gtag('event', 'Page Click', { 
        'event_category': 'Click',
        'event_label': `連結跳轉_永續美妝保養品消費調查`,
        'value': 1
      })
      window.open('https://forms.gle/Ej6iZNPdUhMeW816A')
    }
    function tabVal(item, event){
      document.querySelectorAll(`.tab`).forEach(item => {
        item.classList.remove('tabItem')
      })
      event.target.classList.add('tabItem')
      if (item === 'picturecatalogue') {
        document.querySelector(`#picturecatalogueContent`).style.display = 'block'
        document.querySelector(`#tablecatalogueContent`).style.display = 'none'
        document.querySelector(`#maincatalogueContent`).style.display = 'none'
      } else if (item === 'tablecatalogue') {
        document.querySelector(`#picturecatalogueContent`).style.display = 'none'
        document.querySelector(`#tablecatalogueContent`).style.display = 'block'
        document.querySelector(`#maincatalogueContent`).style.display = 'none'
      } else if (item === 'maincatalogue') {
        document.querySelector(`#picturecatalogueContent`).style.display = 'none'
        document.querySelector(`#picturecatalogueContent`).classList.add('tabItem')
        document.querySelector(`#tablecatalogueContent`).style.display = 'none'
        document.querySelector(`#maincatalogueContent`).style.display = 'block'
      }
    }
    let content
    for ( let i = 0;i<list[0].maincatalogue.length; i++) {
      if (list[0].maincatalogue[i].content) {
        content =`<div class="d-flex justify-content-between align-items-end mb-2 text-first">
                  <span class="mr-2 text-nowrap">${list[0].maincatalogue[i].title}</span>
                  <span class="float-right">${list[0].maincatalogue[i].pages}</span>
              </div>`
        let detailContent = ''
        for (let j = 0; j<list[0].maincatalogue[i].content.length; j++) {
          detailContent = detailContent + `<div>
                <div class="ml-3 d-flex justify-content-between align-items-end mb-2 text-first">
                <span class="mr-2 text-nowrap">${list[0].maincatalogue[i].content[j].title}</span>
                <span class="float-right">${list[0].maincatalogue[i].content[j].pages}</span>
                </div>
              </div>`
        }
        content = `<div>${content} `+` ${detailContent}</div>`
      } else {
        content = 
          `<div class="">
            <div class="d-flex justify-content-between align-items-end mb-2 text-first">
                <span class="mr-2 text-nowrap">${list[0].maincatalogue[i].title}</span>
                <span class="float-right">${list[0].maincatalogue[i].pages}</span>
            </div>
          </div>`
      }
      content = 
        document.querySelector('#maincatalogueContent').innerHTML = document.querySelector('#maincatalogueContent').innerHTML + content
    } 
    let picContent
    for ( let i = 0;i<list[0].picturecatalogue.length; i++) {
      picContent = `<div class="d-flex justify-content-between align-items-end mb-2 text-first">
                    <span class="mr-2 text-nowrap">${list[0].picturecatalogue[i].title}</span>
                    <div class=" border-dotted w-100 mr-1"></div>
                    <span class="">${list[0].picturecatalogue[i].pages}</span>
                </div>`
      picContent = 
        document.querySelector('#picturecatalogueContent').innerHTML = document.querySelector('#picturecatalogueContent').innerHTML + picContent
    }
    let tableContent
    for ( let i = 0;i<list[0].tablecatalogue.length; i++) {
      tableContent = `<div class="d-flex justify-content-between align-items-end mb-2 text-first">
                    <span class="mr-2 text-nowrap">${list[0].tablecatalogue[i].title}</span>
                    <div class=" border-dotted w-100 mr-1"></div>
                    <span class="">${list[0].tablecatalogue[i].pages}</span>
                </div>`
      tableContent = 
        document.querySelector('#tablecatalogueContent').innerHTML = document.querySelector('#tablecatalogueContent').innerHTML + tableContent
    } 
  </script>
</html>
