<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="ico" type="image/x-icon" href="static/favicon.ico"> -->
  <link rel="shortcut icon" type="image/x-icon" href="../images/ogImg.png">   
    <title>UUPON 串流影音及Podcast使用與消費行為調查</title>
    <!-- 需修改 -->
    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" CONTENT="uupon,APP,悠遊卡,點數,紅利點數,集點,折抵電信費,悠遊卡集點,會員點數,點數交換,好康">
    <meta name="description" CONTENT="2021市場調查研究：分別探討千禧世代與Z世代族群，分別在使用串流影音、Podcast上使用行為、偏好的異同。">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="company" content="UUPON.inc 點鑽整合行銷股份有限公司">
    <meta itemprop="image" content="../images/ogImg.png"/>
    <meta name="copyright" content="版權所有 Copyright © 2020 UUPON Inc. All Rights Reserved.">
    <meta property="og:title" content="UUPON 串流影音及Podcast使用與消費行為調查">
    <meta property="og:description" content="2021市場調查研究：分別探討千禧世代與Z世代族群，分別在使用串流影音、Podcast上使用行為、偏好的異同。">
    <meta property="og:image" content="../images/ogImg.png"/>
    <!-- END -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../styles/all.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.slim.min.js" integrity="sha512-M+qMI1PHRcYcOpJzeJlaWbVVx2JJyPIwZas8or7dc97LZOokjvbpfRxymhVtlJLyjiF3wGyr0FJOA4DLONLVLw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TMC79RB');</script>
  <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-58071296-18"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-58071296-18');
    </script>
  </head>
    <body>
    <div id="app">
      <div class="data pt-3 pb-5">
        <div class="container">
          <div class="row">
            <div class="col">
              <a href="../index.html">
                <img src="../images/logo.png" width="235px" class="d-none d-md-block" alt="">
                <img src="../images/logo.png" width="135px" class="d-md-none" alt="">
              </a>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12 col-md-8">
              <p class="font-weight-bold h4 text-orange">串流影音及Podcast 使用與消費行為調查</p>
              <div class="text-gray mt-4">
                <img src="../images/picture_5_podcast.jpg" class="float-left mr-2" width="180px" alt="">
                <p class="h6font-weight-bold text-first">
                  串流影音、Podcast是近5年來成長最快速的娛樂媒體市場之一，而在新冠疫情影響下，更加速兩個使用習慣的增長。本研究在2021年第二季進行市調研究，分別探討千禧世代與Z世代族群，分別在使用串流影音、Podcast上習慣與偏好的不同，也完整將主要使用平台納入調查，瞭解二族群閱聽眾在不同平台的上的使用行為、偏好異同，做為媒體平台計劃、媒體購買策略擬定的參考。<br>納入串流影音調查的平台有：<br>Netflix, Line TV, Youtube Premium, 愛奇藝, KKTV, Friday影音, 中華電信Hami Video, Disney+, Amazon Prime, Apple iTune電影, HBO M, Fox+, LiTV線上影視, 台灣大My Video, 公視+, 巴哈姆特動畫瘋, 嗶哩哩哩bilibili, 優酷影視<br>納入Podcast調查的平台有：<br>Youtube, Google Podcast, KKBOX, Spotify, Apple Podcast, Firstory, Himalaya, Pocket Casts, Overcast, Castbox
                </p>
                <!-- <br>
                <p v-if="data[dataID].include.length>=1" class="h4 font-weight-bold text-first">what's included??</p>
                <ul class="ml-4">
                  <li v-for="(item,index) in data[dataID].include" :key="index" >{{item}}</li>
                </ul> -->
              </div>
            </div>
            <div class="d-none d-md-block col-md-4 mt-md-0 mt-4">
              <div class="border border-gray">
                <p class="p-3 h4 border-bottom border-gray text-first font-weight-bold">報告資訊</p>
                <p class="p-3 h6 border-bottom border-gray text-first">串流影音及Podcast 使用與消費行為調查</p>
                <div class="p-3 border-bottom border-gray text-first">
                  <p class="h6 mb-2">頁數: 135</p>
                  <p class="h6 mb-2">檔案類型: PDF</p>
                </div>
                <!-- <div class="text-first p-3 d-flex align-items-end justify-content-between border-bottom border-gray">
                  <p>Price</p>
                  <p class="h4 mb-0">{{data[dataID].price}}</p>
                </div> -->
                <div class="p-3 text-center bg-light-orange">
                  <button class="order-btn py-2 px-3" onclick="gotoSurvey()">聯絡我們</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div class="d-flex border-bottom border-gray">
                <div class="px-3 py-2 cursor-pointer tab tabItem" onclick="tabVal('maincatalogue', event)">章節目錄</div>
                <div class="px-3 py-2 cursor-pointer tab" onclick="tabVal('picturecatalogue', event)" >圖目錄</div>
                <div class="px-3 py-2 cursor-pointer tab" onclick="tabVal('tablecatalogue', event)">表目錄</div>
              </div>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <div style="display: block;" id="maincatalogueContent">
              </div>
              <div style="display: none;" id="picturecatalogueContent">
              </div>
              <div style="display: none;" id="tablecatalogueContent">
              </div>
            </div>
          </div>
          <div class="row mt-3 d-md-none">
            <div class="col-md-4 mt-md-0 mt-4">
              <div class="border border-gray">
                <p class="p-3 h4 border-bottom border-gray text-first font-weight-bold">報告資訊</p>
                <p class="p-3 h6 border-bottom border-gray text-first">串流影音及Podcast 使用與消費行為調查</p>
                <div class="p-3 border-bottom border-gray text-first">
                  <p class="h6 mb-2">頁數: 135</p>
                  <p class="h6 mb-2">檔案類型: PDF</p>
                </div>
                <div class="p-3 text-center bg-light-orange">
                  <button class="order-btn py-2 px-3" onclick="gotoSurvey()">聯絡我們</button>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-3 d-md-block d-none">
            <div class="col text-center">
              <button class="order-btn py-2 px-3" onclick="gotoSurvey()">聯絡我們</button>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col">
              <p class="h2 font-weight-bold">更多報告</p>
            </div>
          </div>
          <div class="row mt-1">
            <div class="col-12 col-md-6 col-lg-4 mb-3">
              <img src="../images/picture_3_makep.jpeg" width="100%" alt="" class="cursor-pointer" onclick="gotoIntroduce(0)">
              <p class="h4 text-orange cursor-pointer" onclick="gotoIntroduce(0)">永續美妝保養品消費調查</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TMC79RB"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <script type="text/javascript" src="../data/AllData.js">
  </script>
  <script type="text/javascript">
    console.log(list)
    function gotoIntroduce (index) {
      let title = ''
      if (index == 0) {
        title = '永續美妝保養品消費調查'
      } else if (index == 1) {
        title = '串流影音及Podcast 使用與消費行為調查'
      }
      gtag('event', 'Page Click', { 
          'event_category': 'Click',
          'event_label': `點擊${title}`,
          'value': 1
        })
        console.log(`點擊${title}`)
      window.location.href = `introduce_${index}.html`
    }
    function gotoSurvey () {
      // eslint-disable-next-line
      gtag('event', 'Page Click', { 
        'event_category': 'Click',
        'event_label': `連結跳轉_串流影音及Podcast 使用與消費行為調查`,
        'value': 1
      })
      window.open('https://forms.gle/Ej6iZNPdUhMeW816A')
    }
    function tabVal(item, event){
      document.querySelectorAll(`.tab`).forEach(item => {
        item.classList.remove('tabItem')
      })
      event.target.classList.add('tabItem')
      const picture = document.querySelector(`#picturecatalogueContent`)
      const table = document.querySelector(`#tablecatalogueContent`)
      const main = document.querySelector(`#maincatalogueContent`)
      if (item === 'picturecatalogue') {
        picture.style.display = 'block'
        table.style.display = 'none'
        main.style.display = 'none'
      } else if (item === 'tablecatalogue') {
        picture.style.display = 'none'
        table.style.display = 'block'
        main.style.display = 'none'
      } else if (item === 'maincatalogue') {
        picture.style.display = 'none'
        table.style.display = 'none'
        main.style.display = 'block'
      }
    }
    let content
    for ( let i = 0;i<list[1].maincatalogue.length; i++) {
      if (list[1].maincatalogue[i].content) {
        content =`<div class="d-flex justify-content-between align-items-end mb-2 text-first">
                  <span class="mr-2 text-nowrap">${list[1].maincatalogue[i].title}</span>
                  <span class="float-right">${list[1].maincatalogue[i].pages}</span>
              </div>`
        let detailContent = ''
        for (let j = 0; j<list[1].maincatalogue[i].content.length; j++) {
          detailContent = detailContent + `<div>
                <div class="ml-3 d-flex justify-content-between align-items-end mb-2 text-first">
                <span class="mr-2 text-nowrap">${list[1].maincatalogue[i].content[j].title}</span>
                <span class="float-right">${list[1].maincatalogue[i].content[j].pages}</span>
                </div>
              </div>`
        }
        content = `<div>${content} `+` ${detailContent}</div>`
      } else {
        content = 
          `<div class="">
            <div class="d-flex justify-content-between align-items-end mb-2 text-first">
                <span class="mr-2 text-nowrap">${list[1].maincatalogue[i].title}</span>
                <span class="float-right">${list[1].maincatalogue[i].pages}</span>
            </div>
          </div>`
      }
      content = 
        document.querySelector('#maincatalogueContent').innerHTML = document.querySelector('#maincatalogueContent').innerHTML + content
    } 
    let picContent
    for ( let i = 0;i<list[1].picturecatalogue.length; i++) {
      picContent = `<div class="d-flex justify-content-between align-items-end mb-2 text-first">
                    <span class="mr-2 text-nowrap">${list[1].picturecatalogue[i].title}</span>
                    <div class=" border-dotted w-100 mr-1"></div>
                    <span class="">${list[1].picturecatalogue[i].pages}</span>
                </div>`
      picContent = 
        document.querySelector('#picturecatalogueContent').innerHTML = document.querySelector('#picturecatalogueContent').innerHTML + picContent
    }
    let tableContent
    for ( let i = 0;i<list[1].tablecatalogue.length; i++) {
      tableContent = `<div class="d-flex justify-content-between align-items-end mb-2 text-first">
                    <span class="mr-2 text-nowrap">${list[1].tablecatalogue[i].title}</span>
                    <div class=" border-dotted w-100 mr-1"></div>
                    <span class="">${list[1].tablecatalogue[i].pages}</span>
                </div>`
      tableContent = 
        document.querySelector('#tablecatalogueContent').innerHTML = document.querySelector('#tablecatalogueContent').innerHTML + tableContent
    } 
  </script>
  </body>
</html>
